.dropdown {
   position: relative;
   display: inline-block;
}
 
.dropdown-toggle {
   background-color: white;
   color: black;
   border-radius: 7px;
   border: none;
   cursor: pointer;
}

.dropdown-menu {
   position: absolute;
   top: 101%;
   left: 0;
   background-color: #fff;
   color: black;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   border: 1px solid #ddd;
   z-index: 2;
   width: 20vw;
   border-radius: 7px;
   max-width: 80vw;
}

.dropdown-component {
   padding: 5px;
   cursor: pointer;
}