.button-group {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.filter-buttons {
   text-align: center;
}

.action-buttons {
   margin-left: 3px;
}

.action:disabled {
   background-color: gray;
   color: black;
}
